<?xml version='1.0' encoding='utf-8'?>
<plugin id="capturesdk-cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CaputureSDK</name>
	<description>barcode scanners and contactless RFID reader/writers</description>
	<author>Chris Van Emmerik</author>
	<keywords>socket mobile,barcode,scanapi,scanner</keywords>
	<license>MIT</license>
	<engines>
    	<engine name="cordova" version=">=3.4.0"/>
  	</engines>
	<js-module name="CaputureSDK" src="www/CaptureSDK.js">
		<clobbers target="capturesdk" />
	</js-module>
	<platform name="android">
		<source-file src="src/android/CaptureSDK.java" target-dir="src/capturesdk/cordova" />
		<config-file target="res/xml/config.xml" parent="/*">
		<feature name="CaptureSDK">
			<param name="android-package" value="app.greenlink.myapplication" />
		</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*" />
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
		</config-file>
        <config-file parent="./application" target="AndroidManifest.xml">	    							
			<meta-data android:name="com.socketmobile.capture.APP_KEY" android:value="MCwCFF1xgFVSkkQlJyCI/vigYe2a4KZAAhRf6JeC1la2VitSJxXcHewhnG2rjg==" />
        	<meta-data android:name="com.socketmobile.capture.DEVELOPER_ID" android:value="43d33419-e8e6-4ec6-a1f2-c8f9e6b960c8" />
        </config-file>
		<framework src="src/android/capture-android.gradle" custom="true" type="gradleReference" />
		
  	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CaptureSDK">
				<param name="ios-package" value="capturesdk.cordova.CaptureSDK" />
			</feature>
		</config-file>		
		<config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
	    <array>
        <string>jp.star-m.starpro</string>
	    </array>
		</config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
      <string>To connect to Socket Mobile Devices</string>
	  </config-file>		
		<header-file src="src/ios/CaptureSDK.h" />
		<source-file src="src/ios/CaptureSDK.m" />		
		<framework src="CoreBluetooth.framework"/>
		<framework src="ExternalAccessory.framework"/>
		<framework src="SKTCaptureObjC" type="podspec" spec="~> 1.0.0" />
	</platform>
</plugin>