<?xml version='1.0' encoding='utf-8'?>
<plugin id="capturesdk-cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CaputureSDK</name>
	<description>barcode scanners and contactless RFID reader/writers</description>
	<author>Chris Van Emmerik</author>
	<keywords>socket mobile,barcode,scanapi,scanner</keywords>
	<license>MIT</license>
	<engines>
    	<engine name="cordova" version=">=3.4.0"/>
  	</engines>
	<js-module name="CaputureSDK" src="www/CaptureSDK.js">
		<clobbers target="capturesdk" />
	</js-module>
	<platform name="android">
		<source-file src="src/android/CaptureSDK.java" target-dir="src/capturesdk/cordova" />	
		
		<config-file target="res/xml/config.xml" parent="/*">
		<feature name="CaptureSDK">
			<param name="android-package" value="capturesdk.cordova.CaptureSDK" />
		</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*" />
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
		</config-file>
		<framework src="com.socketmobile:capture:1.0.0"/>
		<lib-file src="src/android/lib/capture-1.0.0.jar"/>
		<framework src="com.socketmobile:capture-common:1.0.0"/>
		<lib-file src="src/android/lib/capture-common-1.0.0.jar"/>		
  	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CaptureSDK">
				<param name="ios-package" value="CaptureSDK" />
			</feature>
		</config-file>		
		<config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
	    <array>
        <string>jp.star-m.starpro</string>
	    </array>
		</config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
      <string>To connect to Socket Mobile Devices</string>
	  </config-file>
		<header-file src="src/ios/Communication.h" />
		<source-file src="src/ios/Communication.m" />
		<header-file src="src/ios/CaptureSDK.h" />
		<source-file src="src/ios/CaptureSDK.m" />		
		<framework src="./frameworks/StarIO.framework" custom="true"/>
		<framework src="./frameworks/StarIO_Extension.framework" custom="true"/>
		<framework src="CoreBluetooth.framework"/>
		<framework src="ExternalAccessory.framework"/>
	</platform>
</plugin>
